    <div class="slide">
        <div class="content">
            <div class="wrapper-user-photo">
                <img src="{{slidePhoto}}" alt="">
            </div>
            <div class="comment">
                <div class="text">
                    <img src="{{brackets}}" alt="">
                    <p>
                        {{comment}}
                    </p>
                </div>
                <div class="author">
                    <h4>{{author}}</h4>
                    <h6>{{job}}</h6>
                </div>
                <div class="switcher">
                    <button class="switch-btn" id="prev">
                        <svg id="prev" width="29" height="13" viewBox="0 0 29 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28.4978 6.80752C28.4978 7.08977 28.3097 7.27783 28.0275 7.27783L1.78611 7.27783C1.50386 7.27783 1.3158 7.08977 1.3158 6.80752C1.3158 6.52528 1.50386 6.33721 1.78611 6.33721L27.9806 6.33721C28.2629 6.33721 28.4979 6.52528 28.4979 6.80752L28.4978 6.80752Z" fill="#AE0F0F"/>
                            <path d="M10.0631 1.30515C10.0631 1.44628 9.96889 1.5874 9.82806 1.68128L2.11513 6.80742L9.87492 11.8863C10.1099 12.0274 10.1572 12.3097 10.016 12.5447C9.87492 12.7797 9.59268 12.8269 9.35768 12.6858L0.375 6.80743L9.35692 0.929043C9.59193 0.78792 9.87418 0.834865 10.0153 1.07017C10.0625 1.16405 10.0625 1.21129 10.0625 1.30517L10.0631 1.30515Z" fill="#AE0F0F"/>
                        </svg>
                    </button>
                    <button class="switch-btn" id="next">
                        <svg id="next" width="29" height="13" viewBox="0 0 29 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.677267 6.80771C0.677267 6.52547 0.865332 6.3374 1.14758 6.3374L27.3889 6.3374C27.6712 6.3374 27.8593 6.52547 27.8593 6.80771C27.8593 7.08996 27.6712 7.27802 27.3889 7.27802L1.19444 7.27802C0.912191 7.27802 0.677185 7.08996 0.677185 6.80771L0.677267 6.80771Z" fill="white"/>
                            <path d="M19.112 12.3101C19.112 12.169 19.2062 12.0278 19.347 11.934L27.0599 6.80782L19.3001 1.72892C19.0651 1.5878 19.0179 1.30555 19.159 1.07055C19.3001 0.835543 19.5824 0.788304 19.8174 0.929427L28.8 6.80781L19.8181 12.6862C19.5831 12.8273 19.3009 12.7804 19.1598 12.5451C19.1125 12.4512 19.1125 12.4039 19.1125 12.3101L19.112 12.3101Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>